:host {
  display: grid;
  border:4px solid darkgreen;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 1fr;
  grid-template-areas:  "player player"
                        "card1 card2"
                        // "stack stack"
                        // "player player"
                      }

#card1 {grid-area: card1; padding-left:25px;}
#card2 {grid-area: card2; }
#player { grid-area: player;
          // margin-bottom:15px;
          padding-left: 15%;
          color: white;
          padding-bottom: 20px;
          background-color: darkblue;}
#stack {grid-area: stack; align-self: center; margin-left: 40%;}
img {
  width: 100%;
  height: 100%;
  max-width: 90px;
  max-height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  // object-fit: cover;
  // overflow: hidden;
}

// #card3 {
//   grid-area: card3;
// }
// .cardImage {
//   // width: 50;
//   // height: 50;
//   width: 70px;
//   height: 70px;
// }



// .stack {grid-area: stack;}

// .player {grid-area: player;}
.card {
  // object-fit: cover;
  // width: 50;
  // max-height: 50;
  // border: 1px solid black;
}
