<!--
<div class="hand1">
  ONE
</div>
<div class="hand2">
  TWO
</div>

<div class="hand3">
  THREE
</div> -->
<!-- <div class="container"> -->
    <div class="item pot"><app-hand></app-hand> </div>
    <div class="item flop"><app-hand></app-hand> </div>

    <div class="item hand1"><app-hand></app-hand> </div>
    <div class="item hand2"><app-hand></app-hand> </div>
    <div class="item hand3"><app-hand></app-hand> </div>
    <div class="item hand4"><app-hand></app-hand> </div>
    <div class="item hand5"><app-hand></app-hand> </div>
    <div class="item hand6"><app-hand></app-hand> </div>
    <div class="item hand7"><app-hand></app-hand> </div>
    <div class="item hand8"><app-hand></app-hand> </div>
    <div class="item hand9"><app-hand></app-hand> </div>

    <div class="item stack"><app-hand></app-hand> </div>
    <div class="item bet"><app-hand></app-hand> </div>

<!-- </div> -->
<!-- <div class="hand" id="hand4">
   </div>
<div class="hand" id="hand5">
   </div>
<div class="hand" id="hand6">
   </div>
<div class="hand" id="hand7">
   </div>
<div class="hand" id="hand8">
   </div>
<div class="hand" id="hand9">
   </div> -->
