

// :host {
//   display: grid;
//   width: 90%;
//   height: 100vh;
//   margin: 10px;
//   grid-row-gap: 20px;
//   grid-column-gap: 20px;
//   //grid-template-columns: 200px 200px 200px;
//   // grid-template-rows: 200px 200px 200px 200px 200px;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
//   grid-template-areas:
//                       "pot    flop   flop"
//                       "hand1  hand2  hand3"
//                       "hand4  hand5  hand6"
//                       "hand7  hand8  hand9"
//                       "stack  bet    bet"


// }


:host {
  background: lightblue;
  height: calc(140vh - 64px);
  // height: 200px;
  display: grid;
  align-items: center;
  // box-sizing: border-box;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
                      "pot    flop   flop"
                      "hand1  hand2  hand3"
                      "hand4  hand5  hand6"
                      "hand7  hand8  hand9"
                      "stack  bet    bet"
}
.pot {  grid-area: pot;
  margin-left: 10px;
  align-self: center;
  background-color: lightgreen;
  border: 1px solid black;}

  #amount { margin-left: 40%;
  margin-top:20px; }

.flop { grid-area: flop;}
.hand1 {    grid-area: hand1;}

.hand2 {
grid-area: hand2;
}
.hand3 {
grid-area: hand3;
}
.hand4 {
grid-area: hand4;
}
.hand5 {
grid-area: hand5;
}
.hand6 {grid-area: hand6;}
.hand7 {grid-area: hand7;}
.hand8 {grid-area: hand8;}
.hand9 {grid-area: hand9;}

.hand { background: lightgrey; }
.stack {  grid-area: stack; }

.bet {
grid-area: bet;
align-self: center;
}
// .main{
//   width: 100%;
//   display: grid;
//   grid-row-gap: 20px;
//   grid-column-gap: 20px;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
//   grid-template-areas:
//                       "pot    flop   flop"
//                       "hand1  hand2  hand3"
//                       "hand4  hand5  hand6"
//                       "hand7  hand8  hand9"
//                       "stack  bet    bet"
// }

