
<!-- <div class="main"> -->
<div class="pot">
  <div id="amount"><h1>POT: $210</h1></div>
</div>
<div class="hand flop"><app-flop></app-flop></div>
<div class="hand hand1"> <app-hand [hand]='5'></app-hand> </div>
<div class="hand hand2"> <app-hand [hand]='5'></app-hand> </div>
<div class="hand hand3"> <app-hand [hand]='5'></app-hand></div>
<div class="hand hand4"> <app-hand [hand]='5'></app-hand></div>
<div class="hand hand5"> <app-hand [hand]='5'></app-hand></div>
<div class="hand hand6"> <app-hand [hand]='5'></app-hand></div>
<div class="hand hand7"> <app-hand [hand]='5'></app-hand></div>
<div class="hand hand8"> <app-hand [hand]='5'></app-hand></div>
<div class="hand hand9"> <app-hand [hand]='5'></app-hand></div>
<div class="stack"><app-stack></app-stack></div>
<div class="bet"><app-bet (deal)="onDeal()"></app-bet></div>
<!-- </div> -->
